<component name="ArtifactManager">
  <artifact type="war" name="spring-demos:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-demos-2016.2.607.war">
      <element id="artifact" artifact-name="spring-demos:war exploded" />
    </root>
  </artifact>
</component>